html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#spillboks {
    width: 800px;
    height: 800px;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
}

#spillbrett {
    width: 800px;
    height: 600px;
    background: url('bileter/bakgrunn-amalieskram.jpg');
    background-size: cover;
}

#helse {
    width: 800px;
    height: 100px;
    background-color: rgb(255, 245, 233);
    font-size: 3em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#helseHelt, #helseBoss { 
    border: 1px solid black; 
    padding: 0.25em; 
}

#gui {
    width: 800px;
    height: 100px;
    background-color: aqua;
    font-size: 3em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#helt {
    left: 30px;
    top: 250px;
    border: 1px solid red; /* For å kunne sjå "hitbox" når du jobbar med plassering. Kommenter ut linja dersom du ikkje treng den lenger. */
}

#boss { 
    left: 350px;
    top: 250px;
    border: 1px solid red;
}

#helt, #boss {
    position: relative;
}

#angrip, #heal {
    padding: 20px;
    cursor: grabbing;
}

#angrip:hover, #heal:hover {
    background-color: red;
}

/* 
    ANIMASJONAR:
    Generelt om animasjonar: https://www.w3schools.com/css/css3_animations.asp 
*/

/* Animasjon for angrep frå helt. */
@keyframes heltAngrip {
    0%   {left:30px;}
    50%  {left:350px;}
    100% {left:30px;}
}
.animasjonHeltAngrip {
    animation: heltAngrip 2s linear;
}

/* Animasjon for angrep frå boss. */
@keyframes bossAngrip {
    0%   {left:350px;}
    50%  {left:30px;}
    100% {left:350px;}
}
.animasjonBossAngrip {
    animation: bossAngrip 2s linear;
}

/* Animasjon for at helsa blinkar etter angrep */
@keyframes blinkHelse {
    0%   { 
        border: 1px solid black;
        background-color: red;
    }
    50%  {
        border: 1px solid red;
        background-color: black;
        color: white;

    }
    100% {
        border: 1px solid black;
        background-color: red;

    }
}

.animasjonBlinkHelse {
    animation: blinkHelse 2s linear;
}